@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
  font-weight: normal bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Italic-VariableFont_wght.woff2)
    format("woff2");
  font-weight: normal bold;
  font-style: italic;
}

@font-face {
  font-family: "LibreFranklin";
  src: url(../assets/fonts/LibreFranklin-VariableFont_wght.woff2)
    format("woff2");
  font-weight: normal bold;
  font-style: normal;
}

@font-face {
  font-family: "LibreFranklin";
  src: url(../assets/fonts/LibreFranklin-Italic-VariableFont_wght.woff2)
    format("woff2");
  font-weight: normal bold;
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 100%;
}

p {
  font-family: "LibreFranklin", sans-serif;
  font-weight: normal;
  line-height: 1.6em;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.by_line {
  font-size: 0.8em;
  color: rgb(124, 167, 255);
  margin-top: -10px;
  margin-bottom: 10px;
}

body {
  background-color: #404040;
  color: #ebebeb;
  margin: 1em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.6rem auto;
}

section {
  padding: 0.1em 1em 1em 1em;
  margin: 2em 0em 0em 0em;
  background: #ebebeb;
  color: #141414;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
    white-space: normal;
    overflow-wrap: break-word;
}


aside {
  padding: 0.5rem;
  background: #ebebeb;
  color: #141414;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
}
